<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Properties>
        <Property name="pattern">%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <appenders>
        <File name="logsAll" fileName="src/test/resources/logs/logsAll.log" append="false">
            <PatternLayout pattern="${pattern}"/>
        </File>

        <File name="logsError" fileName="src/test/resources/logs/logsError.log" append="false">
            <PatternLayout pattern="${pattern}"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
    </appenders>

    <loggers>
        <root level="trace">
            <appender-ref ref="logsAll" level="info"/>
            <appender-ref ref="logsError" level="error"/>
        </root>
    </loggers>
</configuration>